{% load staticfiles%}
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>


<link href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'bootstrap-datetimepicker-master/css/bootstrap-datepicker3.min.css'%}" rel="stylesheet">
<script src="/static/bootstrap-datetimepicker-master/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-datetimepicker-master/js/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

<script src="/static/moment-with-locales.js"></script>

<!-- <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script> -->


<script>
    $(function () {
        $('#startdate').datepicker({
            forceParse:0,
            format: 'yyyy-mm-dd',
            language:'zh-CN',
            autoclose:true,
        });
        $('#enddate').datepicker({
            forceParse:0,
            format: 'yyyy-mm-dd',
            language:'zh-CN',
            autoclose:true,
        });
        $('#givedate').datepicker({
            forceParse:0,
            format: 'yyyy-mm-dd',
            language:'zh-CN',
            autoclose:true,
        });
    });
    function getp(){
        $.ajax({
            url: "/getp/",
            type: "post",
            data: {
                "name": $("#name").val(),
                "shop": $("#shop").val(),
                "sid": $("#sid").val(),
                "startdate": $("#startdate").val(),
                "enddate": $("#enddate").val(),
                "givedate":$("#givedate").val()
            },
            success: function (pic) {
                var a = document.getElementById('a');
                var img = document.getElementById('img');
                img.src=img;        
                a.href = pic;                                 // 将图片的src赋值给a节点的href
                var event = new MouseEvent('click')
                a.dispatchEvent(event) 
            }
        })
    }
</script>
<div style="display:none;">
    <a href="/static/picture/index.jpg" id='a' download="图片名字">
        <img src="/static/picture/index.jpg" id='img' alt="">
    </a>
</div>

 
 

    <div class="form-group">
      <label for="name">公司</label>
      <input type="text" class="form-control" id="name" placeholder="请输入公司名称">
    </div>

    <div class="form-group">
        <label for="shop">店铺</label>
        <input type="text" class="form-control" id="shop" placeholder="请输入店铺名称">
      </div>

    <div class="form-group">
        <label for="sid">店铺id</label>
        <input type="text" class="form-control" id="sid" placeholder="请输入店铺id">
    </div>

    <div class="form-group">
        <label for="startdate">开始日期</label>
        <input type="text" class="form-control" id="startdate"  name="datetimepicker">
    </div>

    <div class="form-group">
        <label for="enddate">结束日期</label>
        <input type="text" class="form-control" id="enddate" name="datetimepicker">
    </div>

    <div class="form-group">
        <label for="givedate">授权日期</label>
        <input type="text" class="form-control" id="givedate" name="datetimepicker">



    <button type="submit" class="btn btn-success" onclick="getp()">提交</button>
  </form>
